footer {
    background: #212d33;   
    padding: rem-calc(20px);

    h3 {
        color: #f9f9fb;
        font-size: rem-calc(16px);
        text-transform: uppercase;
        letter-spacing: .04em;
        font-weight: 400;
    }

    ul {
        margin: 0;
        padding: 0; 

        li {
            list-style: none;
            letter-spacing: 0rem;
            line-height: rem-calc(40px);
            a {
                color: #a4a6ab;
                font-size: rem-calc(17);                                
            }
        }
    }
}