header {
    background: #212d33;
    height: $header-height;
    line-height: $header-line-height;
    vertical-align: middle;
    border-top: 1px solid #212d33;

    .logo {
        max-width: 168px;
    }

    .header-search {
        text-align: right;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 20px;
        height: auto;
    }
}