<!doctype html>
<html class="no-js" lang="en" ng-app="viaplay">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ViaPlay</title>
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="stylesheet" href="css/app.css" />
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </head>
    <body ng-controller="VideoDetailCtrl">
        <header>
            <div class="row">
                <div class="large-2 small-8 columns">
                    <div class="logo">
                        <img src="images/header-logo-large.png" alt="ViaPlay" />
                    </div>
                </div>

                <div class="small-4 large-7 columns">
                    &nbsp;

                    <nav>
                        <a href="/serier" data-href="https://content.viaplay.se/pcdash-se/serier" data-di-id="di-id-3adf2b14-d56c2974">Serier</a>

                        <a href="/film"  data-href="https://content.viaplay.se/pcdash-se/film" class="active" data-di-id="di-id-6510aa67-59d884cf">Film</a>

                        <a href="/sport" data-href="https://content.viaplay.se/pcdash-se/sport" data-di-id="di-id-3adf2b14-28940862">Sport</a>

                        <a href="/barn" data-href="https://content.viaplay.se/pcdash-se/barn" data-di-id="di-id-6510aa67-40b913ed">Barn</a>

                        <a href="/hyrbutik" data-href="https://content.viaplay.se/pcdash-se/hyrbutik" data-di-id="di-id-983f970-18b7abb8">Hyrbutik</a>

                    </nav>

                </div>

                <div class="large-2 hide-for-small columns">
                    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="dropdown-btn">John Doe</button>                    
                </div>

                <div class="large-1 hide-for-small columns">
                    <div class="header-search">

                    </div>
                </div>


            </div>
        </header>

        <section id="content">
            <div class="row">
                <div class="small-12 large-7 columns">
                    <figure class="mediaplayer">
                        <img class="poster" src="http://i.viaplay.com/scandi/Viaplay_Prod_-_Scandi/298/300/S86712_landscape_GE-1440753099649.jpg?width=840&amp;height=472" alt="smother-2007" itemprop="image">


                    </figure>
                </div>

                <div class="small-12 large-5 columns">
                    <div class="movie-detail">

                        <h1>{{content.title}}</h1>
                        <p>

                            <span class="genre">
                                <a ng-repeat="genres in links['viaplay:genres']"  href="{{genres.href}}">{{genres.title}} | </a>                                    
                            </span>


                            <span class="year">
                                <span>{{content.production.year}} | </span>
                            </span>

                            <span class="duration divider">
                                <span>{{content.duration.readable}}</span>
                            </span>



                        </p>			


                        <div class="imdb-container">
                            <a class="imdb-link" href="{{content.imdb.url}}">
                                <img src="images/imdb.svg" alt="Imdb" />   <span class="rating">{{content.imdb.rating}}</span> från {{content.imdb.votes}} användare
                            </a>
                        </div>

                        <p class="group">Tillgänglig: en dag kvar</p>



                        <div class="synopsis" itemprop="description">
                            {{content.synopsis}}
                        </div>



                        <div class="people-list">                            
                            <p>                                    
                                <span class="sub-title">Skådespelare:</span>
                                <a ng-repeat="actor in content.people.actors" href="http://viaplay.se/search?query={{actor}}">{{actor}} <span ng-hide="$last">, </span></a>                                                                       
                            </p>
                        </div>

                        <div class="people-list">                            
                            <p>                                    
                                <span class="sub-title">Regissör:</span>
                                <a ng-repeat="director in content.people.directors" href="http://viaplay.se/search?query={{director}}">{{director}} <span ng-hide="$last">, </span></a>                                                                       
                            </p>
                        </div>


                        <div class="country">
                            
                            <p>
                            <span class="sub-title">Land:</span>  {{content.production.country}}
                            </p>
                        </div>


                        <span class="flag">hd</span> 
                        <span class="flag">{{content.parentalRating}}</span>                         
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="small-6 large-2 columns">
                    <div class="logo">
                        <a href="#" data-href="" class="footer-logo">
                            <img src="images/footer-logo.png" alt="Via Play" /> <br />

                        </a>
                    </div>
                </div>

                <div class="small-6 large-2 columns">
                    <h3>VIAPLAY</h3>
                    <ul>
                        <li>
                            <a href="/serier" data-href="https://content.viaplay.se/pcdash-se/serier" data-di-id="di-id-92556cff-e8daaf14"><span>Serier</span></a>
                        </li>
                        <li>
                            <a href="/film" data-href="https://content.viaplay.se/pcdash-se/film" data-di-id="di-id-888814ca-49dc6de9"><span>Film</span></a>
                        </li>
                        <li>
                            <a href="/sport" data-href="https://content.viaplay.se/pcdash-se/sport" data-di-id="di-id-888814ca-8034ae6d"><span>Sport</span></a>
                        </li>
                        <li>
                            <a href="/barn" data-href="https://content.viaplay.se/pcdash-se/barn" data-di-id="di-id-888814ca-50bdfacb"><span>Barn</span></a>
                        </li>
                        <li>
                            <a href="/hyrbutik" data-href="https://content.viaplay.se/pcdash-se/hyrbutik" data-di-id="di-id-b54df02d-ef4b3f3d"><span>Hyrbutik</span></a>
                        </li>

                    </ul>
                </div>

                <div class="small-6 large-2 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <h3 class="active">Om oss</h3>
                            <ul>
                                <li>
                                    <a href="/press" data-href="https://content.viaplay.se/pcdash-se/press" data-di-id="di-id-888814ca-b577cba"><span>Press</span></a>
                                </li>
                                <li>
                                    <a href="http://www.mtgx.se/jobs" data-di-id="di-id-888814ca-96490462"><span>Jobb</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="small-12 columns">
                            <h3 class="active">Viasat-kunder</h3>
                            <ul>
                                <li>
                                    <a href="https://signup.viaplay.se/" data-di-id="di-id-b54df02d-d49c7b99"><span>Viaplay ingår</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="small-6 large-2 columns">
                    <h3>Information</h3>
                    <ul>
                        <li>
                            <a href="http://kundservice.viaplay.se" data-di-id="di-id-d1170ba6-68929bf7"><span>Kundservice</span></a>
                        </li>
                        <li>
                            <a href="/faq" data-href="https://content.viaplay.se/pcdash-se/faq" data-di-id="di-id-8f245cc0-2954246e"><span>Vanliga frågor</span></a>
                        </li>
                        <li>
                            <a href="/devices" data-href="https://content.viaplay.se/pcdash-se/devices" data-di-id="di-id-92556cff-66537c85"><span>Våra plattformar</span></a>
                        </li>
                        <li>
                            <a href="/requirements" data-href="https://content.viaplay.se/pcdash-se/requirements" data-di-id="di-id-d1170ba6-76841b1d"><span>Systemkrav</span></a>
                        </li>
                        <li>
                            <a href="/allmanna_villkor" data-href="https://content.viaplay.se/pcdash-se/allmanna_villkor" data-di-id="di-id-7ab33806-d46a47ab"><span>Allmänna villkor</span></a>
                        </li>
                        <li>
                            <a href="/privacy" data-href="https://content.viaplay.se/pcdash-se/privacy" data-di-id="di-id-92556cff-d02b82c9"><span>Sekretesspolicy</span></a>
                        </li>
                        <li>
                            <a href="/cookies" data-href="https://content.viaplay.se/pcdash-se/cookies" data-di-id="di-id-92556cff-66cc6d33"><span>Cookies</span></a>
                        </li>
                    </ul>
                </div>


                <div class="small-6 large-2 columns">
                    <h3>Följ oss</h3>
                    <ul>
                        <li>
                            <a href="http://www.facebook.com/viaplay.se" data-di-id="di-id-7ab33806-3d06bd82"><span>Facebook</span></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/viaplay_se" data-di-id="di-id-a30627f4-ff733a08"><span>Twitter</span></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/viaplay" data-di-id="di-id-e0daf6b7-28badc95"><span>LinkedIn</span></a>
                        </li>
                        <li>
                            <a href="http://blogg.viaplay.se/" data-di-id="di-id-92556cff-7d389a11"><span>Blogg</span></a>
                        </li>
                    </ul>
                </div>


                <div class="small-6 large-2 columns">
                    <h3>TV</h3>
                    <ul>
                        <li>
                            <a href="#" data-stream-url="https://play.viaplay.se/api/stream/byguid{?deviceId,deviceName,deviceType,userAgent,deviceKey}&amp;guid=TV3SE" data-di-id="di-id-75d948-40a268b"><span>TV3</span></a>
                        </li>
                        <li>
                            <a href="#" data-stream-url="https://play.viaplay.se/api/stream/byguid{?deviceId,deviceName,deviceType,userAgent,deviceKey}&amp;guid=DKMB13GfKIxWmF_XfoCMbej0I_XSeg55" data-di-id="di-id-75d948-40a268b"><span>TV10</span></a>
                        </li>
                        <li>
                            <a href="#" data-stream-url="https://play.viaplay.se/api/stream/byguid{?deviceId,deviceName,deviceType,userAgent,deviceKey}&amp;guid=0LJGhbaMMazRbvFHEFZWnVH4qCzgFiAG" data-di-id="di-id-75d948-40a268b"><span>TV6</span></a>
                        </li>
                        <li>
                            <a href="#" data-stream-url="https://play.viaplay.se/api/stream/byguid{?deviceId,deviceName,deviceType,userAgent,deviceKey}&amp;guid=TV1000" data-di-id="di-id-75d948-40a268b"><span>Viasat Film</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>

    </body>
</html>
